/* apply a natural box layout model to all elements */
* {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
 }

body {
	background: black;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#board {
	max-width: 36em;
	margin: auto;
	margin-bottom: 3em;
}

.row, p {clear: both}

.square {
	float: left;
	width: 20%;
	
	padding: .5em;
	text-align: center;
	cursor: pointer;
}

/* hack to make .squares have a 1:1 aspect ratio. see http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
.square:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* 1:1 ratio */
}

.text {
}

.marked {background: blue}

a {color: #6ba0ff}
a:visited {color: #a06bff}

#star {
  vertical-align: bottom;
  margin-left: 7px;
  margin-bottom: 1px;
  border: 0;
  width: 100px;
  height: 20px;
}

small {color: #aaa}
