/* apply a natural box layout model to all elements */
* {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
 }

body {
	background: black;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#board {
	margin: auto;
	margin-bottom: 3em;
}

.square {
	width: 7.8em;
	height: 7.8em;
	min-width: 7.8em;
	
	padding: .5em;
	text-align: center;
	cursor: pointer;
}
td {vertical-align: middle}
.marked {background: blue}

a {color: #6ba0ff}
a:visited {color: #a06bff}

#star {
	vertical-align: bottom;
	margin-left: 7px;
	margin-bottom: 1px;
	border: 0;
	width: 100px;
	height: 20px;
}

small {color: #aaa}
