body {
	background: black;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#board {
	max-width: 50em;
	margin: auto;
	margin-bottom: 3em;
}

td {
	width: 20%;
	padding: .5em;
	cursor: pointer;
}

.marked {background: blue}

a {color: #6ba0ff}
a:visited {color: #a06bff}

#star {
  vertical-align: bottom;
  margin-left: 7px;
  margin-bottom: 1px;
}

small {color: #aaa}
